:root {
    --template-column: 20vw 60vw 20vw;
    --template-row: 20vh 10vh 10vh auto auto;
}

body {
    margin: 0px;
    background-color: #6b4d2a;
    background-repeat: repeat-x;
    background-size: contain;
}

h1 {
  grid-column: 2 / 3;
  align-self: center;
  text-align: center;
}

h2 {
    grid-column: 2 / 3;
    align-self: center;
    text-align: center;
}

button {
    height: 100%;
    width: 75%;
}

#grid-div {
    display: grid;
    grid-template-columns: var(--template-column);
    grid-template-rows: var(--template-row);
}

#top {
    grid-column: 1 / 4;
    grid-row: 1;
    background-color: #808080;
    display: grid;
    grid-template-columns: var(--template-column);
}

#header {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

#left {
    grid-column: 1 / 2;
    grid-row: 2 / 5;
}

#nav {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    margin-top: 5px;
}

#button-bar {
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    margin-top: 5px;
    position: sticky;
    top: 0px;
    align-content: center;
}

#content-home {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    background-color: #FFD600;
    border: 5px solid #000000;
    margin-top: 5px;
    margin-bottom: 5px;
}

#content {
    grid-column: 2 / 3;
    grid-row: 3 / 5;
    background-color: #FFD600;
    border: 5px solid #000000;
    margin-top: 5px;
    margin-bottom: 5px;
}

#footer {
    grid-column: 1 / 4;
    grid-row: 5 / 6;
    background-color: #39AAAA;
    border: 10px outset #807540;
}

#right {
    grid-column: 3 / 4;
    grid-row: 2 / 5;
}

#make-new-note {
    display: flex;
    position: sticky;
    top: 95px;
    height: 200px;
    grid-column: 2 / 3;
    grid-row: 4 / 5;
    background-color: #ffffff;
    border: 5px solid #000000;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: center;
}

#note-input {
    width: 100%;
    border: 0px;
}

.content-p {
    margin-left: 5px;
}

